<html>
  <head>
    <title>Forgot Password</title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/nav'); %>
    <header>
      <div class="container">
        <% if ( message.length > 0 ) { %>
          <p><strong><%= message %></strong></p>
          <% } %>
        <form action="/forgot/forgot" method="post">
          <div class="row">
            <h2 style="text-align:center">Forgot Password</h2>
           
           
            <div class="col">  
              <input type="text" name="email" placeholder="Email" required>
              <input type="submit" value="Send mail">
            </div>
            
          </div>
        </form>
      </div>
      
      <div class="bottom-container">
        <div class="row">
          <div class="col">
            <a href="/auth/login" style="color:white" class="btn">Login?</a>
          </div>
        </div>
      </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
