<html>
  <head>
    <meta charset="utf8" />
    <title>Home</title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <!-- view content based on login status -->
    <%- include("./partials/nav"); %>
    <p>Hi welcome to the website</p>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
