<html>
  <head>
    <meta charset="utf8" />
    <title>Home</title>
  </head>
  <body>
    <!-- view content based on login status -->
    <%- include("./partials/nav"); %> <%- include('./partials/footer.ejs'); %>
  </body>
</html>
