<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <%- include('./partials/nav'); %>
    <header>
      <h1>log in using</h1>
    </header>
    <main>
      <a class="github-btn" href="/auth/github">github</a>
    </main>

    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
