<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <a href="/auth/logout">Logout</a>
    <a href="/auth/login">Login</a>
    <a href="/">Homepage</a>

    <header>
      <h1>loggin in</h1>
    </header>
    <main>
      <a class="github-btn" href="/auth/github">github</a>
    </main>
  </body>
</html>
