<html>
  <head>
    <meta charset="utf8" />
    <title>User Profile</title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/nav'); %>

    <p>Welcome, <%= user.username%></p>

    <%- include('./partials/footer'); %>
  </body>
</html>
