<html>
  <head>
    <title>Reset Password</title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/nav'); %>
    <header>
      <div class="container">
        <form action="/forgot/reset/<%= param.token %>" method="post">
          <div class="row">
            <h2 style="text-align:center">Reset password</h2>
            <div class="col">
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="confirm" placeholder="Confirm Password" required>
              <input type="submit" value="Reset Password">
            </div>
            
          </div>
        </form>
      </div>
      
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
